body {
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #2f2f2f;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    box-sizing: border-box;

}

h1 {
    text-align: center;
    color: #eaeaea;
    background-color: #222222;
    margin: 0px 0px 20px;
    padding: 30px;
}

div {
    border: 1px #9f9f9f solid;
    border-collapse: collapse;
}

#main-container {
    height: 500px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px #1f1f1f solid;
    border-radius: 0.5em;
}

#menu {
    background-color: #222222;
    text-align: center;
    margin: 20px;
    border: none;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0px 0px;
}

.hijitos {
    font-size: 20px;
    font-weight: 700;
    color:#eaeaea;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: none;
}

input {
    border: 2.5px #1f1f1f solid;
    border-radius: 0.5em;
}

.fila {
    display: flex;
    flex-grow: 1;
    width: 100%;
    border: none;
}

.cuadrado {   
    display: flex;
    flex-grow: 1;
    border: 1px solid #1f1f1f;
    border-collapse: collapse;
}

